@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

.todo-app {
    width: 50%;
    max-height: 20%;
    margin: 30px auto;
    background-color: aliceblue;
    overflow: scroll;
}

/* todo-filters starts here */
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li:hover {
    cursor: pointer;
}

li.filter.active {
    text-decoration: underline;
    color: blue;
}

/* todo-filters ends here */

/* todo-add starts here */
.todo-add {
    display: flex;
    justify-content: space-around;
}

.todo-add .text-box {
    height: 20px;
    margin: 10px;
    flex: 1;
}

.todo-add .add-btn {
    text-transform: uppercase;
    margin: 10px;
    flex: 1;
}
/* todo-add ends here */

/* TODO style starts here */
.todo {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 10px auto;
}

/* .todo:hover {
    box-shadow: 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
} */

.todo-name {
    flex: 2
}

.todo-completed {
    text-decoration: line-through;
}

.todo-name:hover {
    cursor: pointer;
}

.del-icon {
    flex: 1
}

.del-icon:hover {
    cursor: pointer;
}
/* TODO style ends here */